1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+	
6

<font color="blue">



**Ans:**
    
Values: 'hello’, -87.8, 6
    
Expressions: *, -, / ,+

2. What is the difference between string and variable?

<font color="blue">
    
**Ans:**
    
Variable is like a container where the value of a data type can be stored with a specific name, data type can be string  or integer or float.  
String is a data type which consists of sequence of characters in quotes, strings store the sequence of characters in text these are immutable, meaning sting contents cannot be changed after string creation as the memory of string  are stored as bundle and cannot be altered.

3. Describe three different data types.

<font color="blue">
    
**Ans:**
    

int: Integer data type for whole numbers (e.g., 5, -10, 0).
float: Floating-point data type for numbers with a fractional part (e.g., 3.14, -2.5).
str: String data type for sequences of characters, representing text (e.g., "hello", 'world',”123”).

4. What is an expression made up of? What do all expressions do?

<font color="blue">
    
**Ans:**

An expression combination of operations that can produce some other value (e.g., 2+3=5)

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

<font color="blue">

**Ans:**
    


An expression is a combination of variables, operators that results in a single value(5 + 3  )
Statements are used to perform logical instruction which can perform part of code or complete code

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [9]:

bacon = 22
bacon + 1
bacon

22

7. What should the values of the following two terms be?

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

<font color="blue">

**Ans:**

variables names never start with number as per its definition, so 100  variable will be a invalid name for variable

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

<font color="blue">

**Ans:**
    

int,float, str

10. Why does this expression cause an error? How can you fix it?

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

<font color="blue">

**Ans:**

 Here 'I have eaten ' and ' burritos.' are strings which cannot be concatenated with integers which create data type error

In [11]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'